.SideBar {
    color: white;
    padding: 1em;
  }
  
  .activeItem {
    text-transform: capitalize;
    padding: 0.5em 0;
    font-size: 0.8em;
  }
  
  .activeContainer img {
    padding-left: 10px;
  }
  
  .SideBar h1 {
    font-size: 1.5em;
    margin-bottom:2em;
    background: linear-gradient(90deg, rgba(246,230,38,1) 0%, rgba(254,182,66,1) 35%, rgba(255,132,0,1) 67%, rgba(255,68,0,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }

  .SideBar h2 {
    font-size: 0.9em;
    border-bottom: 0.5px solid rgba(204,204,204,0.5);
    padding-bottom: 1em;
    font-weight: normal;
    line-height: 1.5em;
  }

  .online-icon {
    font-size: 0.6em;
    padding-right: 1em;
    color:rgb(6, 247, 106);
  }

  .fa-user {
    padding-right: 0.5em;
  }

  .responsive {
    display:none;
  }
  
  @media (max-width: 64em) {
  
  }

  @media (max-width:40em) {
  }